.root {
	-fx-background-color: #2B6FA8;
	-fx-font-family: "Segoe UI Semibold";
}

.inicioYregistro {
	-fx-background-image: url("fondoIS3.jpg");
}

.inicio {
	-fx-background-image: url("grupo2.jpg");
}

.botonRedondo {
	-fx-background-color: #42A6F9;
	-fx-background-radius: 30.0;
	-fx-text-fill: #D3D8DC;
}

.botonRedondo:hover {
	-fx-background-color: #79C0FA;
}

.botonRedondo:pressed {
	-fx-background-color: #2B6FA8;
}

.seccion {
	-fx-background-color: #42A6F9;
	-fx-text-fill: #D3D8DC;
	-fx-font-size: 15.0pt;
}

.seccion:hover {
	-fx-background-color: #79C0FA;
}

.seccion:pressed {
	-fx-background-color: #2B6FA8;
}


.hbox {
	-fx-background-color: #42A6F9;
	-fx-font-size: 11.0pt;
}

.icono {
	-fx-background-color: transparent;
	-fx-background-radius: 0.0;
}

.cierre:hover {
	-fx-background-color: #E32D2D;
}

.cierre:pressed {
	-fx-background-color: #852B2B;
}

.text-field {
	-fx-background-color: -fx-text-box-border, #262f37;
	-fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
	-fx-text-fill: #D3D8DC;
	-fx-background-radius: 2.5;
}

.text-field:focused {
	-fx-background-color: -fx-focus-color, #262f37;
	-fx-focus-color: #42A6F9;
	-fx-text-fill: #D3D8DC;
}

.marco {
	-fx-background-color: rgba(46.0, 54.0, 86.0, 0.5);
}

.titulo {
	-fx-background-color: rgba(46.0, 54.0, 86.0, 1.0);
	-fx-text-fill: #D3D8DC;
	-fx-font-size: 15.0pt;
}