<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   	
	<session-factory >
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Planea</property>
		<property name="hibernate.connection.username">root</property>
<!-- 		<property name="hibernate.connection.password">root</property> -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Ficheros de mapeo, también podemos utilizar anotaciones JPA -->
        <mapping resource="Competicion.hbm.xml"/>
        <mapping resource="Prueba.hbm.xml"/>
        <mapping resource="Puntuacion.hbm.xml"/>
        <mapping resource="Credencial.hbm.xml"/>
        <mapping resource="Piloto.hbm.xml"/>
        <mapping resource="Grupo.hbm.xml"/>
        <mapping resource="Manga.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
